<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/pittsburgh-bridges.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/dumpling.svg" alt="">
                    </div>
                    <h1 class="presentation-title">MANDU HANDU</h1>
                    <!-- <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div> -->
                </div>

                <h2 class="presentation-subtitle text-center">Authentic Korean Dumplings in Pittsburgh</h2>
            </div>
        </div>
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
        <h6 class=" category-absolute ml-auto mr-auto">Designed by Sunni
        </h6>
    </div>
    <div class="main">
        <div id="location" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                            [maxZoom]="zoom" [minZoom]="zoom" [zoomControl]="false">

                            <agm-marker *ngFor="let m of markers; let i = index"
                                (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                                [label]="m.label">

                                <agm-info-window>
                                    <strong>{{m.name}}</strong>
                                </agm-info-window>

                            </agm-marker>
                        </agm-map>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <h3 class="title">HOURS</h3>
                            <section>
                                <ul style="list-style: none;">
                                    <li>
                                        <p>Monday: 11am-5pm</p>
                                    </li>
                                    <li>
                                        <p>Tuesday: 11am-5pm</p>
                                    </li>
                                    <li>
                                        <p>Wednesday: 11am-5pm</p>
                                    </li>
                                    <li>
                                        <p>Thursday: 11am-5pm</p>
                                    </li>
                                    <li>
                                        <p>Friday: 11am-5pm</p>
                                    </li>
                                    <li>
                                        <p>Saturday: 11am-5pm</p>
                                    </li>
                                    <li>
                                        <p>Sunday: 11am-4pm</p>
                                    </li>
                                </ul>
                            </section>
                            <br><br>
                            <h3 class="title">ADDRESS</h3>
                            <section>
                                <p>620 William Penn Pl</p>
                                <p>Pittsburgh, PA 15219</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu" class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto text-center">
                        <h3 class="title">MENU</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul style="list-style: none;">
                            <li>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="menu-img" src="assets/img/dumpling.jpg" width="250px">
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="title">MENU ITEM 1</h4>
                                        <p class="description">The kit comes with three pre-built pages to help you get
                                            started faster.
                                            You can change the text and images and you're good to go.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="menu-img" src="assets/img/dumpling.jpg" width="250px">
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="title">MENU ITEM 2</h4>
                                        <p class="description">The kit comes with three pre-built pages to help you get
                                            started faster.
                                            You can change the text and images and you're good to go.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="menu-img" src="assets/img/dumpling.jpg" width="250px">
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="title">MENU ITEM 3</h4>
                                        <p class="description">The kit comes with three pre-built pages to help you get
                                            started faster.
                                            You can change the text and images and you're good to go.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul style="list-style: none;">
                            <li>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="menu-img" src="assets/img/dumpling.jpg" width="250px">
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="title">MENU ITEM 4</h4>
                                        <p class="description">The kit comes with three pre-built pages to help you get
                                            started faster.
                                            You can change the text and images and you're good to go.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="menu-img" src="assets/img/dumpling.jpg" width="250px">
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="title">MENU ITEM 5</h4>
                                        <p class="description">The kit comes with three pre-built pages to help you get
                                            started faster.
                                            You can change the text and images and you're good to go.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="menu-img" src="assets/img/dumpling.jpg" width="250px">
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="title">MENU ITEM 6</h4>
                                        <p class="description">The kit comes with three pre-built pages to help you get
                                            started faster.
                                            You can change the text and images and you're good to go.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title">CONTACT</h3>
                        <p>Phone number: 555-555-5555</p>
                        <p>Email: test@manduhandu.com</p>
                    </div>
                </div>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="https://twitter.com/JYPETWICE?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                            class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="https://www.instagram.com/twicetagram/"
                            class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-instagram"></i> Instagram
                        </a>
                        <a href="https://www.facebook.com/JYPETWICE"
                            class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>